#toast {
  position: fixed;
  top: 32px;
  right: 32px;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  border-left: 4px solid;
  padding: 10px 0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  justify-content: center;
  width: 600px;
  height: 50px;
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fateOut {
  to {
    opacity: 0;
  }
}
.toast__icon,
.toast__close {
  font-size: 24px;
  padding: 0 16px;
}

.toast__title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 4px;
}
.toast__close {
  color: rgba(0, 0, 0, 0.08);
}
.toast + .toast {
  margin-top: 24px;
}
body {
  margin: 0 auto;
  width: 40%;
}
.toast--success {
  border-color: green;
  margin-top: 30px;
}
.toast--success .toast__icon {
  color: green;
}
.toast--info {
  border-color: #ccc;
}
.toast--warning {
  border-color: yellow;
}
.toast--error {
  border-color: red;
}
.toast--info .toast__icon {
  color: #ccc;
}
.toast--warning .toast__icon {
  color: yellow;
}
.toast--error .toast__icon {
  color: red;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
}
.btn--success {
  background-color: green;
  margin-bottom: 10px;
}
.btn--error {
  background-color: red;
}
.btn-wrap {
  margin-top: 500px;
}
